APScheduler==3.3.1
certifi==2017.7.27.1
chardet==3.0.4
funcsigs==1.0.2
futures==3.1.1
idna==2.6
numpy==1.13.3
pandas==0.20.3
PyMySQL==0.7.11
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.14
tushare==0.9.8
tzlocal==1.4
urllib3==1.22
